<footer>
  <div class="security">
    <div class="logo">
      <img src="../../../assets/logo.svg" alt="LaslesVPN" />
      <h1>Lasles<span>VPN</span></h1>
    </div>
    <h3>
      <span class="site-name">LaslesVPN</span> is a private virtual network that
      has unique features and has high security.
    </h3>
    <div class="social">
      <img src="../../assets/Facebook.svg" alt="Facebook" />
      <img src="../../assets/Twitter.svg" alt="Twitter" />
      <img src="../../assets/Instagram.svg" alt="Instagram" />
    </div>
    <p>©2020LaslesVPN</p>
  </div>
  <div class="more-info">
    <h3>product</h3>
    <p>download</p>
    <p>pricing</p>
    <p>locations</p>
    <p>server</p>
    <p>countries</p>
    <p>blog</p>
  </div>
  <div class="more-info">
    <h3>engage</h3>
    <p>laslesVPN ?</p>
    <p>fAQ</p>
    <p>tutorials</p>
    <p>about Us</p>
    <p>privacy Policy</p>
    <p>Terms of Service</p>
  </div>
  <div class="more-info">
    <h3>earn Money</h3>
    <p>affiliate</p>
    <p>become Partner</p>
  </div>
</footer>
