footer {
  margin-top: 63px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 149px;
  height: 36.23px;
  cursor: pointer;
}
.logo h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #0b132a;
}
.logo span {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #0b132a;
}
.security h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  width: 280px;
  height: 61.57px;
  margin-top: 20px;
  color: #4f5665;
}
.site-name {
  font-size: 16px;
  font-weight: 650;
  line-height: 30px;
}
.social {
  margin-top: 10px;
  cursor: pointer;
}
.security p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #afb5c0;
}
.more-info h3 {
  font-size: 18px;
  font-weight: 550;
  line-height: 30px;
  color: #0b132a;
  text-transform: capitalize;
  cursor: pointer;
}
.more-info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4f5665;
  margin-top: 10px;
  text-transform: capitalize;
  cursor: pointer;
}
