<div class="happy-customer">
  <h1>Trusted by Thousands of Happy Customer</h1>
  <p>
    These are the stories of our customers who have joined us with great
    pleasure when using this crazy feature.
  </p>
</div>
<div class="customers">
  <div class="customer-info">
    <div class="customer">
      <div class="customer-unite">
        <img src="../../../assets/costumer.svg" alt="customer" />
        <div class="born-info">
          <h2>Viezh Robert</h2>
          <p>Warsaw, Poland</p>
        </div>
      </div>
      <div class="rating">
        <p>4.5</p>
        <img src="../../../assets/star.svg" alt="star" />
      </div>
    </div>
    <p class="customer-all">
      “Wow... I am very happy to use this VPN, it turned out to be more than my
      expectations and so far there have been no problems. LaslesVPN always the
      best”.
    </p>
  </div>
  <div class="customer-info">
    <div class="customer">
      <div class="customer-unite">
        <img src="../../../assets/customer2.svg" alt="customer" />
        <div class="born-info">
          <h2>Yessica Christy</h2>
          <p>Shanxi, China</p>
        </div>
      </div>
      <div class="rating">
        <p>4.5</p>
        <img src="../../../assets/star.svg" alt="star" />
      </div>
    </div>
    <p class="customer-all">
      “I like it because I like to travel far and still can connect with high
      speed.”.
    </p>
  </div>
  <div class="customer-info">
    <div class="customer">
      <div class="customer-unite">
        <img src="../../../assets/customer3.svg" alt="customer" />
        <div class="born-info">
          <h2>Kim Young Jou</h2>
          <p>Seoul, South Korea</p>
        </div>
      </div>
      <div class="rating">
        <p>4.5</p>
        <img src="../../../assets/star.svg" alt="star" />
      </div>
    </div>
    <p class="customer-all">
      “This is very unusual for my business that currently requires a virtual
      private network that has high security.”.
    </p>
  </div>
</div>
<div class="subscriber">
  <div class="subscriber-info">
    <h1>Subscribe Now for Get Special Features!</h1>
    <p>Let's subscribe with us and find the fun.</p>
  </div>
  <div class="subscribe">
    <p>Subscribe Now</p>
  </div>
</div>
