<div class="choose-package">
  <h1>Choose Your Plan</h1>
  <p>
    Let's choose the package that is best for you and explore it happily and
    cheerfully.
  </p>
</div>
<div class="package-all">
  <div class="package">
    <img src="../../../assets/package.svg" alt="package" class="package-img" />
    <h1>Free Plan</h1>
    <div class="package-list-all">
      <div class="package-list">
        <img src="../../../assets/package-green.svg" alt="green" />
        <p>Unlimited Bandwitch</p>
      </div>
      <div class="package-list">
        <img src="../../../assets/package-green.svg" alt="green" />
        <p>Encrypted Connection</p>
      </div>
      <div class="package-list">
        <img src="../../../assets/package-green.svg" alt="green" />
        <p>No Traffic Logs</p>
      </div>
      <div class="package-list">
        <img src="../../../assets/package-green.svg" alt="green" />
        <p>Works on All Devices</p>
      </div>
    </div>
    <h2>Free</h2>
    <div class="select">
      <p>Select</p>
    </div>
  </div>
  <div class="package">
    <img
      src="../../../assets/package-img2.svg"
      alt="package"
      class="package-img"
    />
    <h1>Standard Plan</h1>
    <div class="package-list-all">
      <div class="package-list">
        <img src="../../../assets/package-green.svg" alt="green" />
        <p>Unlimited Bandwitch</p>
      </div>
      <div class="package-list">
        <img src="../../../assets/package-green.svg" alt="green" />
        <p>Encrypted Connection</p>
      </div>
      <div class="package-list">
        <img src="../../../assets/package-green.svg" alt="green" />
        <p>Yes Traffic Logs</p>
      </div>
      <div class="package-list">
        <img src="../../../assets/package-green.svg" alt="green" />
        <p>Works on All Devices</p>
      </div>
      <div class="package-list">
        <img src="../../../assets/package-green.svg" alt="green" />
        <p>Connect Anyware</p>
      </div>
    </div>
    <h2>$9 / mo</h2>
    <div class="select">
      <p>Select</p>
    </div>
  </div>
  <div class="package">
    <img
      src="../../../assets/package-img3.svg"
      alt="package"
      class="package-img"
    />
    <h1>Premium Plan</h1>
    <div class="package-list-all">
      <div class="package-list">
        <img src="../../../assets/package-green.svg" alt="green" />
        <p>Unlimited Bandwitch</p>
      </div>
      <div class="package-list">
        <img src="../../../assets/package-green.svg" alt="green" />
        <p>Encrypted Connection</p>
      </div>
      <div class="package-list">
        <img src="../../../assets/package-green.svg" alt="green" />
        <p>Yes Traffic Logs</p>
      </div>
      <div class="package-list">
        <img src="../../../assets/package-green.svg" alt="green" />
        <p>Works on All Devices</p>
      </div>
      <div class="package-list">
        <img src="../../../assets/package-green.svg" alt="green" />
        <p>Connect Anyware</p>
      </div>
      <div class="package-list">
        <img src="../../../assets/package-green.svg" alt="green" />
        <p>Get New Features</p>
      </div>
    </div>
    <h2>$12 / mo</h2>
    <div class="select">
      <p>Select</p>
    </div>
  </div>
</div>
<div class="global-all">
  <div class="global">
    <h1>Huge Global Network of Fast VPN</h1>
    <p>
      See LaslesVPN everywhere to make it easier for you when you move
      locations.
    </p>
  </div>
  <img
    src="../../../assets/Huge Global.svg"
    alt="Huge Global"
    class="huge-global"
  />
  <img src="../../../assets/Sponsored.svg" alt="sponsors" />
</div>
