<div class="plans">
  <div class="plans-info">
    <h1>Want anything to be easy with LaslesVPN.</h1>
    <p>
      Provide a network for all your needs with ease and fun using LaslesVPN
      discover interesting features from us.
    </p>
    <div class="gets">
      <h2>Get Started</h2>
    </div>
  </div>
  <img src="../../../assets/plans-img.svg" alt="plans image" />
</div>
<div class="users-info">
  <div class="users">
    <img src="../../../assets/user.svg" alt="user icon" />
    <div class="users-statistic">
      <h1>90+</h1>
      <h2>Users</h2>
    </div>
    <span class="borders"></span>
  </div>
  <div class="location">
    <img src="../../../assets/location.svg" alt="location image" />
    <div class="location-statistic">
      <h1>30+</h1>
      <h2>Locations</h2>
    </div>
    <span class="borders"></span>
  </div>
  <div class="servers">
    <img src="../../../assets/Server.svg" alt="servers" />
    <div class="server-statistic">
      <h1>50+</h1>
      <h2>Servers</h2>
    </div>
  </div>
</div>
<div class="providers">
  <img src="../../../assets/plan-Illustration 2.svg" alt="illustration" />
  <div class="providers-info">
    <h1>We Provide Many Features You Can Use</h1>
    <p class="providers-explore">
      You can explore the features that we provide with fun and have their own
      functions each feature.
    </p>
    <div class="provider-list">
      <img src="../../../assets/provider-list.svg" alt="provider-list" />
      <p>Powerfull online protection.</p>
    </div>
    <div class="provider-list">
      <img src="../../../assets/provider-list.svg" alt="provider-list" />
      <p>Internet without borders.</p>
    </div>
    <div class="provider-list">
      <img src="../../../assets/provider-list.svg" alt="provider-list" />
      <p>Supercharged VPN</p>
    </div>
    <div class="provider-list">
      <img src="../../../assets/provider-list.svg" alt="provider-list" />
      <p>No specific time limits.</p>
    </div>
  </div>
</div>
